---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "~/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Find out more about me here on <span
				><a class="sm:hover:underline" href="https://hi.ianugroho.com">hi.ianugroho.com</a></span
			>
		</p>
	</div>
</PageLayout>
